body {
  background-color: FEFEFE;
  text-align: center;
}

audio {
  padding-bottom: 30px;
}


a {
  color: inherit;
}

.btn {
  display: inline-block;
}

.feedback {
  margin: 0 auto;
}

.container {
  margin: auto;
  width: 50%;
  border: 3px springgreen;
  padding: 10px;
}

.background {
  color: rgb(6, 107, 85);
}


.inline {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.bgimg {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.3) 0 100%), url(https://s.rfi.fr/media/display/dbb49488-15d8-11ea-aa65-005056a964fe/w:1280/p:16x9/worldmusicistock-508586144.jpg);
  background-size: cover;
}

.box_textshadow {
  text-shadow: 5px 5px 5px #FFFFFF;
  /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
}

p {
  color: white;
  font-size: 20px;
  text-shadow:
    0.07em 0 black,
    0 0.07em black,
    -0.07em 0 black,
    0 -0.07em black;
}

p.with-eight {
  text-shadow:
    0.05em 0 black,
    0 0.05em black,
    -0.05em 0 black,
    0 -0.05em black,
    -0.05em -0.05em black,
    -0.05em 0.05em black,
    0.05em -0.05em black,
    0.05em 0.05em black;
}


button {
  min-width: 10%;
  max-width: fit-content;
  background-color: #000000;
  color: white;
  padding: 8px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

button:hover {
  background-color: #7c7c7c;
}