body {
  background-color: lightblue;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  border-radius: 25px;
}

audio {
  padding-bottom: 30px;
}

.feedback {
  margin: 0 auto;
}

.container{
  margin: auto;
  width: 50%;
  border: 3px springgreen;
  padding: 10px;
  
  
}
.background{
  color:rgb(6, 107, 85) ;
}


