<html>

<head>
	<link rel="stylesheet" href={{ url_for('static', filename='landing.css' ) }} />
</head>

<body class="bgimg">
	<div style="position:absolute; left:10px;">
		<a href={{ url_for('landing') }}>
			<button>Go back</button>
		</a>
	</div>
	<div class="container" style="position: relative; top: 50px;">
		<p class="with-eight" style="font-size:xx-large;">
			About us
		</p>
	</div>
	<div class="container" style="position: relative; top: 50px;">
		<p class="with-eight">
			This is a class project for Software Engineering at Georgia State University. We utilize
			the Spotify API as well as Flask for the python backend. SQLAlchemy and PostgreSQL are
			used for storing the database and Heroku is used for hosting our site.
		</p>
	</div>
	<br>
	<div style="position:relative; top:50px;">
		<button onclick="window.open('https://github.com/ttoth1/SWE-group5-project','_blank')" type="button">Check out this project on github!</button>
	</div>
	<div style="position:relative; top:100px;">
		<p class="with-eight">
			Group member github profiles
		</p>
		<button><a href="https://github.com/ttoth1" target="tab" style="text-decoration:none">Trevor Toth</a></button>
		<button><a href="https://github.com/ReedMcKy" target="tab" style="text-decoration:none">Reed McKinney</a></button>
		<button><a href="https://github.com/mhabeeb01" target="tab" style="text-decoration:none">Mohammed Habeeb</a></button>
		<button><a href="https://github.com/psialapezo1" target="tab" style="text-decoration:none">Parfait Siala Pezo</a></button>
	</div>
</body>

</html>