<html>

<head>
	<link rel="stylesheet" href={{ url_for('static', filename='landing.css' ) }} />
</head>

<body class="bgimg">
	<div class="container" style="position: relative; top: 125px;">
		<p class="with-eight" style="font-size:xx-large;">
			Welcome to Song Recommender!
		</p>
	</div>
	<div class="container" style="position: relative; top: 150px;">
		<p class="with-eight">
			This is a place where you can find new music and share your thoughts with others all around the globe.
		</p>
	</div>
	<br>
	<div style="position:relative; top:200px;">
		<a href={{ url_for('login') }}>
			<button>Log in</button>
		</a>
		<br><br>
		<a href={{ url_for('signup') }}>
			<button>Sign up</button>
		</a>
		<br><br>
		<a href={{ url_for('about_us') }}>
			<button>About us</button>
		</a>
	</div>
</body>

</html>