<html>

<head>
	<link rel="stylesheet" href={{ url_for('static', filename='landing.css' ) }} />
</head>

<body class="bgimg">
	<div class="container" style="position: relative; top: 50px;">
		<p class="box_textshadow" style="font-size: 60px;">
			Welcome to <br>SpotTok!
		</p>
	</div>
	<div class="container" style="position: relative; top: 75px;">
		<p class="with-eight">
			The place to find new music when you're not quite sure what to listen to.
		</p>
	</div>
	<div style="position:relative; top:150px;">
		<a href={{ url_for('login') }}>
			<button>Log in</button>
		</a>
		<br>
		<a href={{ url_for('signup') }}>
			<button>Sign up</button>
		</a>
		<br>
		<a href={{ url_for('about_us') }}>
			<button>About us</button>
		</a>
	</div>
</body>

</html>