<html>

<head>
    <link rel="stylesheet" href={{ url_for('static', filename='login.css' ) }} />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Playfair+Display" />
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <b class="flashed_message">{{message}}</b>
    {% endfor %}
    {% endif %}
    {% endwith %}
</head>

<body>
    <div class="title">
        <h1>Log In</h1>
        <hr class=line />
    </div>
    <div class="container">
        <form method="POST" action="/login">
            <label for="uname">Username:</label>
            <input id="uname" type="text" name="username" autofocus="">

            <label for="pword">Password:</label>
            <input id="pword" type="password" name="password" autofocus="">

            <input type="submit" value="Submit">
        </form>

        <form action="/signup">
            <button>Sign Up</button>
        </form>
    </div>
</body>

</html>