<html>

<head>
	<link rel="stylesheet" href={{ url_for('static', filename='style.css' ) }} />
</head>

<body>
	<a href="/logout">Log out</a>
	<br>
	<form method="POST" action="/user_profile">
		<button name="User Profile">See my Profile!</button>
	</form>
	<a href="/spotify_login">Login with Spotify!</a>
	<h1>Music Recommendations</h1>
	<h1>Song:
		<a href="{{track_link}}">{{track_name}}</a>
	</h1>
	<h2>Artist:
		<a href="{{artist_link}}">{{artist}}</a>
	</h2>
	<h3>Album:
		<a href="{{album_link}}">{{album}}</a>
	</h3>
	<div>
		<img src="{{album_pic}}" />
	</div>
	<br>
	<div>
		<form method="GET" action="{{url_for('add_liked_song')}}">
			<button> Like This Song! </button>
		</form>
	</div>
	<div>
		<form method="GET" action="{{url_for('index')}}">
			<button> Next Song </button>
		</form>
	</div>
	<div>
		<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/{{track_id}}?utm_source=generator"
			width="100%" height="380" frameBorder="0" allowfullscreen=""
			allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture">
		</iframe>
	</div>
</body>

</html>