<html>

<head>
	<link rel="stylesheet" href={{ url_for('static', filename='style.css' ) }} />
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>

<body>
	<div id="profile">
		<form method="POST" action="/user_profile">
			<button class="w3-btn w3-xlarge" name="User Profile"><i style='font-size:24px'
					class='fas'>&#xf406;</i></button>
		</form>
		<a href="/spotify_login">Login with Spotify!</a>
		<br>
		<a href="/logout">Log out</a>
	</div>
	<hr class=line />
	<div class="LikeNext">
		<form method="GET" action="{{url_for('add_liked_song')}}">
			<button class="LikeButton" id="like"> Like </button>
		</form>
		<img src="{{album_pic}}" />
		<div id="next">
			<form method="GET" action="{{url_for('index')}}">
				<button class="SkipButton"><span>Next Song</span></button>
			</form>
		</div>
	</div>
	<div class="container">
		<ul id="songinfo">
			<li>Song:
				<a href="{{track_link}}">{{track_name}}</a>
			</li>
			<li>Artist:
				<a href="{{artist_link}}">{{artist}}</a>
			</li>
			<li>Album:
				<a href="{{album_link}}">{{album}}</a>
			</li>
		</ul>
	</div>
	<div>
		<iframe style="border-radius:0"
			src="https://open.spotify.com/embed/track/{{track_id}}?utm_source=generator&theme=0&autoplay=0"
			frameBorder="0" allowfullscreen=""
			allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture">
		</iframe>
	</div>
</body>

</html>