<html>

<head>
	<link rel="stylesheet" href={{ url_for('static', filename='home.css' ) }} />
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Playfair+Display" />
	<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>

<body>
	<div class="profile">
		<form method="POST" action="/user_profile">
			<button style="font-size:50px" class="btn" name="User Profile"><i class="fa fa-user-circle-o" aria-hidden="true"></i></button>
		</form>
		<a href="/spotify_login" target="tab">
			<button style="font-size:50px" class="btn"><i class="fa fa-spotify"></i></button>
		</a>
		<a href="/logout">
			<button style="font-size:50px" class="btn"><i class="fa fa-sign-out"></i></button>
		</a>
		<h1 id="appname">SpotTok</h1>
	</div>
	<hr class=line />
	<div class="LikeNext">
		<form method="GET" action="{{url_for('add_liked_song')}}">
			<button class="LikeButton"> Like <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
		</form>
		<img src="{{album_pic}}" />
		<div>
			<form method="GET" action="{{url_for('add_skipped_song')}}">
				<button class="SkipButton"><span>Skip</span></button>
			</form>
		</div>
	</div>
	<div>
		<ul id="songinfo">
			<li>Song:
				<a href="{{track_link}}" target="tab"><u>{{track_name}}</u></a>
			</li>
			<li>Artist:
				<a href="{{artist_link}}" target="tab"><u>{{artist}}</u></a>
			</li>
			<li>Album:
				<a href="{{album_link}}" target="tab"><u>{{album}}</u></a>
			</li>
		</ul>
	</div>
	<div>
		<iframe style="border-radius:0"
			src="https://open.spotify.com/embed/track/{{track_id}}?utm_source=generator&theme=0&autoplay=true"
			frameBorder="0" allowfullscreen=""
			allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture">
		</iframe>
	</div>
	<br>
	<br>
	<br>
	<br>
</body>
<footer>
	
</footer>

</html>