<link rel="stylesheet" href="/static/style.css" />
<head>
  <meta charset="UTF-8">
  <title>User Profile</title>
</head>
<body>
  <div class = "container">
    <div class = "left">
      <img src="random.png" alt="user" width="100">
      <h4>Mohammed Habeeb</h4>
    </div>
    <div class ="right">
      <div class = "information">
        <h3>Information</h3>
        <div class="info data">
          <div class="data">
            <h4>Email</h4>
            <p>alex@gmail.com</p>
          </div>
          <div class="data">
            <h4>Phoone</h4>
            <p>123-456-7890</p>
          </div>
        </div>
      </div>
  </div> 
</div> 
</body>