<link rel="stylesheet" href="/static/style.css" />
<head>
  {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% for message in messages %}
              <b class = "flashed_message">{{message}}</b>
          {% endfor %}
      {% endif %}
      {% endwith %}
</head>
<head>
  <a href="/index">Back to Home</a>
  <meta charset="UTF-8">
  <title>User Profile</title>
</head>
<form method="POST" action="/get_liked_songs">
  <button name="See my liked songs">Liked Songs</button>
</form>
<body>
  <div class = "container">
    <div class = "left">
      <img src="https://www.pngitem.com/pimgs/m/160-1603770_computer-icons-music-sound-music-logo-line-art.png.png" width="100">
      <h4>{{firstname}} {{lastname}}</h4>
    </div>
    <div class ="right">
      <div class = "information">
        <h3>Information</h3>
        <div class="info data">
          <div class="data">
            <h4>Email</h4>
            <p>{{email}}</p>
          </div>
        </div>
      </div>
  </div> 
</div> 
</body>
