<link rel="stylesheet" href="/static/style.css" />
<head>
  <a href="/index">Back to Home</a>
  <meta charset="UTF-8">
  <title>User Profile</title>
</head>
<body>
  <div class = "container">
    <div class = "left">
      <img src="https://www.pngitem.com/pimgs/m/160-1603770_computer-icons-music-sound-music-logo-line-art.png.png" width="100">
      <h4>{{firstname}} {{lastname}}</h4>
    </div>
    <div class ="right">
      <div class = "information">
        <h3>Information</h3>
        <div class="info data">
          <div class="data">
            <h4>Email</h4>
            <p>{{email}}</p>
          </div>
          <div class="data">
            <h4>Phoone</h4>
            <p>None</p>
          </div>
        </div>
      </div>
  </div> 
</div> 
</body>